body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.landing-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.full-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.full-background img {
    padding-top: 70px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}